body{
    background-color: #F6F6E2;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content:space-between ;
    background-color: #D4C098 ;
    color:black;
    font-family: "Borel", cursive;
}
.icono{
    background-color: #ebe0b4a2;
    margin-top: 25px;
}
.mariposas{
    margin-top: 50px;
}
header{
    display: flex;
    flex-direction: column;
    background-image: url(https://i.pinimg.com/736x/77/5e/44/775e447b21df6afb569ff5f06e824c8b.jpg);
    background-size: cover; 
}
#titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E2D5C1;
    border-radius: 100px;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 20px;
    
}
h4{
    background-color: #ebe0b4a2;
    padding: 10px;
    border-radius: 10%;
}
h1{
    font-family: "Tangerine", cursive;
    padding: 30px;
    font-size: 60px;
}
#subtitulo{
    display: flex;
    flex-direction: row;
    background-color:#E2D5C1 ;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 900px;
    border-radius: 10%;
}
h2{
    font-family: "Tangerine", cursive;
    padding: 30px;
    border-radius: 5%;
    font-size: 50px;
}
#gif{
    margin: 30px;
}
.carrito {
    margin: 10px;
    border: solid 1px  #D4C098;
    border-radius: 10%;
}
#catalogo1{
    margin-top:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #D4C098;
    border-radius: 5%;
    font-family: "Borel", cursive;
}
#catalogo2{
    margin-top:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #D4C098;
    border-radius: 5%;
    font-family: "Borel", cursive;
}
.imagen{
    background-color: #E2D5C1;
    border-radius: 10%;
    padding: 10px;
}
.img{
    border-radius: 15%;
}

footer{
    margin-top: 100px;
    background-image: url(https://i.pinimg.com/736x/77/5e/44/775e447b21df6afb569ff5f06e824c8b.jpg);
    background-size: cover; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
#contacto{
    margin-left: 100px;
    background-color: #D4C098;
    border-radius: 5%;
    padding-left: 30px;
    padding-right: 30px;
}
.contacto2{
    font-family: "Tangerine", cursive;
    font-size: 40px;
}
#logof{
    margin-right: 300px;
    background-color: #D4C098;
    padding: 10px;
    border-radius: 5%;
}
button:hover{
    background-color: #D4C098;
}